/node_modules
/public/hot
/public/storage
/public/css/app-custom.css
/public/user-uploads/*
!public/user-uploads/.htaccess
/storage/*.key
/vendor
/.env
/.htaccess
.env.backup
.phpunit.result.cache
.phpunit.cache/
phpunit.xml.bak
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
/.idea
/.vscode
/.vagrant
*.zip
.DS_Store
mix.js.map
mix-manifest.json
ngrok
/storage/installed
/storage/framework/laravel-excel/
grumphp.yml
/bootstrap/cache/*
storage/reviewed
storage/fonts/installed-fonts.json
resources/lang/*
resources/views/sections/custom_script.blade.php
database/maxmind/
public/css/app-custom.css
public/css/theme-custom.css
public/css/custom-css/theme-custom.css
composer.lock
package-lock.json
/.composer-cache
pnpm-lock.yaml

# Invalid lang file name that breaks git index (delete manually from LanguagePack app/en if present)
Modules/LanguagePack/Languages/app/en/(Added By*
