/* ==== Link Font Family ==== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:is(body, h1, h2, h3, h4, h5, h6) {
    font-family: 'Roboto', sans-serif !important;
}

/* ==== New Themeing neo-light ==== */

/* ==== Start Sidebar Css ==== */
.sidebar-dark :is(.main-sidebar, .sidebar-brand-box, .sidebar-menu, .sidebarTogglerBox) {
    background-color: #ffffff !important;
}

.main-sidebar{
    border-right: 1px solid #dee2e6;
    box-shadow: 0 0.3rem 12px rgba(0, 0, 0, 0.12);
}

.sidebar-menu{
    padding: 8px;
}

.sidebar-brand-box .sidebar-brand .sidebar-brand-name h1{
    color: #2dabe1;
}

.sidebar-brand-box .sidebar-brand{
    border-bottom: 1px solid #dee2e6;
}

.sidebarTogglerBox{
    border-top: none;
    border-right: 1px solid #dee2e6;
}

.sidebar-menu li{
    box-shadow: none;
}

.sidebar-menu li .nav-item{
    padding: 6px 16px;
    margin-block: 4px;
    border-radius: 4px;
    font-weight: 500;
    color: #151515 !important;
    font-size: 15px !important;
    letter-spacing: 0.5px;
    width: 100%;
}

.sidebar-menu li .nav-item span{
    padding-left: 8px !important;
}

.sidebar-menu li :is(.nav-item:focus, .nav-item:hover, .nav-item.active) {
    background-color: rgba(45, 171, 225, 0.05) !important;
    color: #2dabe1 !important;
}

.sidebar-menu li .accordionItemContent a{
    color: #151515;
    font-weight: 500;
    margin-left: 0;
    margin-block: 4px;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 40px;
}

.sidebar-menu li .accordionItemContent a::before{
    content: '';
    position: absolute;
    left: 20px;
    width: 12px;
    height: 1px;
    background-color: #151515;
}

.sidebar-menu li :is(.accordionItemContent a:focus, .accordionItemContent a:hover, .accordionItemContent a.active){
    background-color: rgba(45, 171, 225, 0.05) !important;
    color: #2dabe1 !important;
}

.sidebar-menu li .accordionItemContent a:focus::before,
.sidebar-menu li .accordionItemContent a:hover::before,
.sidebar-menu li .accordionItemContent a.active::before {
    background-color: #2dabe1;
}

.accordionItem.openIt .accordionItemHeading::after{
    right: 16px;
}

.accordionItem.closeIt .accordionItemHeading::after{
    right: 16px;
}

.sidebar-dark .sidebar-menu::-webkit-scrollbar {
  width: 6px;
  background:transparent !important;
}

.sidebar-dark .sidebar-menu::-webkit-scrollbar-thumb {
  background-color:#e5e5e5;
  border-radius: 4px;
  border: none !important;
}

/* ==== Start Dashboard Css ==== */
.admin-dashboard{
    background-color: #f2f4f9 !important;
}
.main-header{
    border-bottom: 1px solid #dee2e6;
    box-shadow: none;
}

.main-container a .bg-white, .main-container .card.b-shadow-4, .main-container .bg-white.b-shadow-4{
    border-radius: 16px !important;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border: none !important;
    overflow: hidden;
}

.e-d-info.card{
    border-radius: 16px;
}

.e-d-tasks-projects-events .bg-white{
    border-radius: 16px !important;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border: none !important;
}

.e-d-tasks-projects-events .b-shadow-4{
    border-radius: 16px 16px 0 0;
}

.card-header{
    box-shadow: none !important;
    border-radius: 0 !important;
}

.cal-info .card{
    border: none !important;
    border-bottom: 1px solid #f1f1f3 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.cal-info .card .card-horizontal{
    align-items: center;
}

.cal-info.b-shadow-4{
    border-top: 1px solid #f1f1f3 !important;
    box-shadow: none !important;
    border-radius: 0 0 16px 16px;
}

.page-header-right .header-icon-box{
    margin-right: 0;
    padding-inline: 10px;
}

@media (max-width: 425px) {
   .page-header-right .btn-primary{
        display: none !important;
    }
}
.input-group input{
    background-color: #fff !important;
    border: 1px solid #eff2ff !important;
    color: #61748f;
}

/* ==== Button Css ==== */
.btn-primary {
  position: relative;
  background-color: transparent !important;
  color: var(--header_color) !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  padding: 6px 12px !important;
  min-height: 35px !important;
  height: auto;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  overflow: hidden;
}

.btn-primary::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--header_color);
  border: 1px solid transparent !important;
  opacity: 0.15;
  border-radius: 4px !important;   
  min-height: 35px !important;
  height: auto;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
}

.btn-primary:is(:hover, :focus, :active){
    background-color: var(--header_color) !important;
    color: #fff !important;
    border: 1px solid !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-secondary{
    border: 1px solid #616e80 !important;
    background-color: transparent !important;
    color: #616e80 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    box-shadow: none !important;
    border-radius: 4px;
    padding: 6px 12px !important;
    min-height: 35px !important;
    height: auto;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    vertical-align: middle !important;
}

.btn-secondary:is(:hover, :focus, :active){
    background-color: #616e80 !important;
    border: 1px solid #616e80 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-secondary.btn-active{
    background-color: #616e80 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-cancel{
    border: 1px solid transparent !important;
    background-color: transparent !important;
}

.btn-cancel:hover{
    border: 1px solid #616e80 !important;
    background-color: #616e80 !important;
}

.dt-buttons.btn-group .btn-secondary{
    border-radius: 4px !important;
}

div[role="group"].btn-group a:first-child {
    border-radius: 4px 0 0 4px !important;
}

div[role="group"].btn-group a:last-child {
    border-radius: 0 4px 4px 0 !important;
}

.unread-notifications-count.badge-primary{
    font-weight: 500 !important;
    font-size: 12px !important;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* ==== Form Ui Css ==== */
.add-client .form-group{
    position: relative;
}

.add-client .form-group #client_emailHelp{
    position: absolute;
    right: 0;
}

.add-client h4{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #010101 !important;
}

.add-client label{
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #010101 !important;
}

input.form-control, button.dropdown-toggle{
    border: 1px solid #e2e6f1 !important;
    color: #010101 !important;
    background-color: #fff !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    padding: 6px 12px !important;
    line-height: 1.7 !important;
    height: 36px !important;
}

.bootstrap-select .dropdown-toggle {
  padding: 6px 12px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap !important;
  overflow: hidden;
}

.input-group-append button.btn-outline-secondary{
    padding-block: 5px;
}

.task-detail-panel form .add-client .row{
    gap: 16px 0;
}

.task-detail-panel form .add-client .mb-12{
    margin-bottom: 8px !important;
}

#other-details{
    padding-top: 0 !important;
}

#filter-form .select-status input.form-control, #filter-form .select-status .dropdown-toggle{
    border: none !important;
}

/* ==== Table Css ==== */
.table thead th, .table tr td {
    color: #010101;
    padding: 12px 18px;
    font-weight: 500;
    text-align: left !important;
}

.table tr td{
   border-bottom: 1px solid #f1f1f3 !important;
   box-shadow: none;
}
.table tr:last-child td {
  border-bottom: none !important;
}


.table tr td a{
    color: #010101 !important;
    font-weight: 600;
}

.table tr td span{
    font-weight: 600 !important;
}

img.taskEmployeeImg{
    width: 40px;
    height: 40px;
}

.cal-info .card{
    border: none !important;
    border-bottom: 1px solid #f1f1f3 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.cal-info .card .card-horizontal{
    align-items: center;
}

/* Tabs css */
.project-header .project-menu .p-sub-menu{
    font-size: 12px;
}

.project-header .project-menu .p-sub-menu span{
    padding: 10px 22px;
}

/* Other Section css */
.b-p-header .d-flex{
    align-items: center;
}

#filter-form .select-box{
    padding-block: 8px !important;
    align-items: center !important;
}

#filter-form .select-box .bootstrap-select .dropdown-toggle{
    height: auto !important;
}

.btn-group a.btn-secondary{
    border-radius: none !important;
}

.message_wrapper .input-group input.form-control{
    border: none !important;
}

.inv-action.dropup .btn-primary span svg{ 
    color: #000 !important;
}
.inv-action.dropup .btn-primary:hover span svg {
    color: #fff !important;
}

.height-35{
    height: 36px !important;
}

.content-wrapper .col-lg-4 .bg-white{
    border-radius: 16px !important;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border: none !important;
    overflow: hidden;
}

/* ==== Login css ==== */
.login_box, .login-box{
    text-align: left !important;
    border-radius: 8px !important;
}

.login_box h3, .login-box h4{
    font-size: 24px;
    font-weight: 600;
    color: #010101;
}

.login_box .form-group label, .login-box .form-group label{
    font-size: 13px;
    font-weight: 500;
    color: #010101;
}

.login_box .form-group .form-control, .login-box .form-group .form-control{
    border: 1px solid #e2e6f1 !important;
    color: #010101 !important;
    background-color: #fff !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    padding: 8px 16px !important;
    line-height: 1.7 !important;
    height: auto !important;
}

.login_box .form-group .form-control::placeholder, .login-box .form-group .form-control::placeholder{
    font-size: 12px !important;
}

.login_box .forgot_pswd + .form-group{
    display: flex;
    align-items: center;
    gap: 4px;
}

.login_box .forgot_pswd + .form-group label{
    margin-bottom: 0 !important;
    line-height: 1;
}

#submit-login{
    padding: 10px 16px !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

/* ==== Data Table Css ==== */
.w-tables{
    border-radius: 8px !important;
}


/* ==== SVG Icons ==== */
.admin-dashboard .d-block:has(>svg), .e-d-tasks-projects-events .d-block:has(>svg), .content-wrapper .d-block:has(>svg){
    width: 40px !important;
    height: 40px;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.admin-dashboard svg.fa-users{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-users){
    background: #00C853;
}

.admin-dashboard svg.fa-user{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-user){
    background: #007BFF;
}

.admin-dashboard svg.fa-layer-group{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-layer-group){
    background: #FF6D00;
}

.admin-dashboard svg.fa-file-invoice{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-file-invoice){
    background: #FFD600;
}

.admin-dashboard svg.fa-clock{
    color: #fff !important;
}   
.admin-dashboard .d-block:has(>svg.fa-clock){
    background: #00E5FF;
}

.admin-dashboard svg.fa-tasks{
    color: #fff !important;
} 
.admin-dashboard .d-block:has(>svg.fa-tasks){
    background: #7C4DFF;
}

.admin-dashboard svg.fa-calendar-check{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-calendar-check){
    background: #1DE9B6;
}

.admin-dashboard svg.fa-ticket-alt{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-ticket-alt){
    background: #FF4081;
}

.admin-dashboard svg.fa-file-contract{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-file-contract){
    background: #FF1744;
}

.admin-dashboard svg.fa-check{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-check){
    background: #FF9100;
}

.admin-dashboard svg.fa-file-signature{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-file-signature){
    background: #D500F9;
}

.admin-dashboard svg.fa-plane-departure{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-plane-departure){
    background: #3D5AFE;
}

.admin-dashboard svg.fa-sign-out-alt{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-sign-out-alt){
    background: #FF5252;
}

.admin-dashboard svg.fa-fingerprint{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-fingerprint){
    background: #40C4FF;
}

.admin-dashboard svg.fa-coins{
    color: #fff !important;
}
.admin-dashboard .d-block:has(>svg.fa-coins){
    background: #FFEB3B;
}

.e-d-tasks-projects-events svg.fa-list{
    color: #fff !important;
}
.e-d-tasks-projects-events .d-block:has(>svg.fa-list){
    background: #E91E63;
}

.e-d-tasks-projects-events svg.fa-layer-group{
    color: #fff !important;
}
.e-d-tasks-projects-events .d-block:has(>svg.fa-layer-group){
    background: #64DD17;
}

.content-wrapper svg.fa-ticket-alt{
    color: #fff !important;
}
.content-wrapper .d-block:has(>svg.fa-ticket-alt){
    background: #FF6D00;
}

.content-wrapper svg.fa-layer-group{
    color: #fff !important;
}
.content-wrapper .d-block:has(>svg.fa-layer-group){
    background: #E91E63;
}

.content-wrapper svg.fa-coins{
    color: #fff !important;
}
.content-wrapper .d-block:has(>svg.fa-coins){
    background: #64DD17;
}

.content-wrapper svg.fa-file-invoice-dollar{
    color: #fff !important;
}
.content-wrapper .d-block:has(>svg.fa-file-invoice-dollar){
    background: #3D5AFE;
}

.content-wrapper a svg.fa-layer-group{
    color: #616e80 !important;
}

.content-wrapper a:hover svg.fa-layer-group {
    color: #ffffff !important;
}

/* ==== Modal Css ==== */
.modal-content{
    border-radius: 16px;
}

.inv-action.dropup .btn-primary{
    height: 36px !important;
}

/* ==== Sidebar Setting ==== */
.settings-sidebar .settings-menu li a{
    padding: 10px 24px;
}
.settings-sidebar li.active{
    background-color: rgba(45, 171, 225, 0.5);
    font-weight: 500;
}
.settings-sidebar li.active a{
    border-right: 2px solid #2dabe1;
}
.settings-sidebar .settings-menu li a:hover{
    background-color: rgba(45, 171 ,225, 0.05);
    border-right: 2px solid #2dabe1;
}

#search-setting-menu{
    border: none !important;
    padding: 0 !important;
    height: auto !important;
}

.user-message{
    padding: 10px 20px 20px;
    gap: 16px;
    align-items: start !important;
}

.user-message .card-img {
    height: auto;
    width: auto;
    margin: 0;
    border-radius: 100%;
}

.user-message .card-body{
    padding: 0;
}

.user-message .card-body .pt-3{
    padding-top: 0 !important;
}
.user-message .card-img img {
    height: 40px;
    width: 40px;
}

.user-message .card-text{
    padding-top: 8px;
}

/* === Start Dark Theme Css ==== */

body.dark-theme .bg-white, body.dark-theme .card, body.dark-theme .form-control, body.dark-theme .qs-datepicker-container, body.dark-theme .qs-overlay, body.dark-theme .unpaid, body.dark-theme .custom-file-label, body.dark-theme .p-client-msg .btn-secondary, body.dark-theme .w-task-board-panel, body.dark-theme .b-p-header .b-p-badge, body.dark-theme .content-wrapper, body.dark-theme .admin-dashboard, body.dark-theme .page-title, body.dark-theme .main-container, body.dark-theme .settings-box, body.dark-theme .input-group .bootstrap-select.form-control .dropdown-toggle, body.dark-theme .bootstrap-select > .dropdown-toggle, body.dark-theme .bootstrap-timepicker-widget table td a:hover, body.dark-theme .btn-cancel, body.dark-theme .select-picker.role-permission-select, body.dark-theme .fc .fc-button-primary, body.dark-theme .daterangepicker td.off, body.dark-theme .dropzone, body.dark-theme textarea, body.dark-theme iframe .form-body, body.dark-theme .tabs .-secondary, body.dark-theme .set-btns, body.dark-theme .list-group-item, body.dark-theme .bg-light, body.dark-theme .bg-grey, body.dark-theme .dropzone .dz-preview.dz-image-preview, body.dark-theme .c-inv-desc select, body.dark-theme .bg-light-grey, body.dark-theme .matched .sample{
    background-color: #212529 !important;
}

/* === Sidebar Dark Theme ==== */

body.dark-theme :is( .main-sidebar, .sidebar-brand-box, .sidebar-menu, .sidebarTogglerBox ) { 
    background-color: #212529 !important;
    border-right-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .sidebar-brand-box .sidebar-brand{
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .sidebar-menu li .nav-item{
    color: #ffffff !important;
}

body.dark-theme .sidebar-menu li :is(.nav-item:focus, .nav-item:hover, .nav-item.active){
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
}

body.dark-theme .sidebar-menu li .accordionItemContent a{
    color: #ffffff;
}

body.dark-theme .sidebar-menu li :is(.accordionItemContent a:focus, .accordionItemContent a:hover, .accordionItemContent a.active){
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #ffffff !important;
}

body.dark-theme  .sidebar-menu li .accordionItemContent a::before{
    background-color: #ffffff;
}

body.dark-theme .filter-box, body.dark-theme .table tr td, body.dark-theme .login_header{
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

body.dark-theme .main-header{
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .border-right-grey, body.dark-theme .task_view .taskView, body.dark-theme .border-right{
    border-right-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme #right-modal-content .bg-white{
    background-color: #212529 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .table tr td{
    background-color: #212529 !important;
}

body.dark-theme .main-container a .bg-white, body.dark-theme .main-container .card.b-shadow-4, body.dark-theme 
.main-container .bg-white.b-shadow-4{
     background-color: #212529 !important;
     box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(24, 28, 31, 0.54);
}

body.dark-theme  .card-header{
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .sidebar-brand-box .sidebar-brand-dropdown, body.dark-theme .dropdown-menu, body.dark-theme .add-client, body.dark-theme .modal-content, body.dark-theme input, body.dark-theme tbody, body.dark-theme .message_wrapper .msg-content-right .mbl-sender-name, body.dark-theme .more-filters .more-filter-tab, body.dark-theme .daterangepicker{
    background-color: #212529 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .alert-secondary{
    background-color: #212529 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .page-header-right li{
    border-left-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .modal-header{
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .modal-footer{
     border-top-color: rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .b-shadow-4, body.dark-theme .qs-datepicker-container, body.dark-theme .form-control, body.dark-theme .w-tables, body.dark-theme .c-inv-desc table tr td, body.dark-theme .table-bordered, body.dark-theme .c-inv-total .c-inv-total-right td{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .preloader-container, body.dark-theme .bg-additional-grey{
    background-color: #212529 !important;
}

body.dark-theme .border-top-grey, body.dark-theme .modal-footer, body.dark-theme .more-filters .more-filter-tab.in .clear-all, body.dark-theme .daterangepicker .drp-buttons, body.dark-theme .border-top{
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .table thead th{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
body.dark-theme .fc .fc-cell-shaded{
    background-color: #131618 !important;
}

body.dark-theme .fc-button.fc-button-primary.fc-button-active{
    background-color: #3d4043 !important;
}

body.dark-theme .table tr td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .fc-theme-standard .fc-list{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .border-bottom-grey, body.dark-theme .main-header, body.dark-theme .modal-header, body.dark-theme .modal-body, body.dark-theme .message_wrapper .msg-header, body.dark-theme .border-bottom, body.dark-theme .nav-tabs, body.dark-theme .tabs.--show-secondary .-secondary li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .c-inv-disc td, body.dark-theme .inv-num-date tr td, body.dark-theme .inv-detail tr td, body.dark-theme .message_wrapper .msg-content-left, body.dark-theme .message_wrapper, body.dark-theme .message_wrapper .msg-content-left .card, body.dark-theme .message_wrapper .input-group, body.dark-theme .settings-sidebar, body.dark-theme .border-grey, body.dark-theme .ticket-wrapper, body.dark-theme .task-detail-panel, body.dark-theme ul.thumbnails.image_picker_selector li .thumbnail, body.dark-theme .task_view, body.dark-theme .fc-theme-standard .fc-scrollgrid, body.dark-theme .fc-theme-standard td, body.dark-theme .fc-theme-standard th, body.dark-theme .fc .fc-button-primary, body.dark-theme .dropify-wrapper, body.dark-theme .input-group-text, body.dark-theme .fc-theme-standard .fc-list, body.dark-theme .tagify, body.dark-theme .list-group-item{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .fc-day-today{
    background-color: #3d4043 !important;
}

body.dark-theme .btn-secondary{
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .input-group-text, body.dark-theme .task-search .input-group-text{
    background-color: #212529 !important;
}
body.dark-theme .btn-primary:hover{
    color: #ffffff !important;
    background-color: #3d4043 !important;
    border-color: #3d4043 !important;
}
body.dark-theme .btn-secondary:hover{
    color: #ffffff !important;
    background-color: #3d4043 !important;
    border-color: #3d4043 !important;
}

body.dark-theme .add-client h4{
    color: #ffffff !important;
}

body.dark-theme .dropify-wrapper{
    background-color: #212529 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .dropdown-item:hover{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .task_view .task_view_more:hover{
    background-color: #3d4043 !important;
    color: #ffffff !important;
    border-color: #3d4043 !important;
}

body.dark-theme .badge-light{
    background-color: #3d4043 !important;
    border: 1px solid #3d4043 !important;
}

body.dark-theme .table .thead-light th{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .add-client label{
    color: #ffffff !important;
}

body.dark-theme .page-item.disabled .page-link, body.dark-theme .pagination li a{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .task_view .taskView:hover{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .progress{
    background-color: #3d4043 !important;
}

body.dark-theme .settings-sidebar li.active{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .content-wrapper .bg-white.border{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .settings-sidebar .settings-menu li a:hover{
    background-color: #3d4043 !important;
    color: #ffffff !important;
}

body.dark-theme .btn-light{
    background-color: #3d4043 !important;
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* ==== Super Admin Css ==== */

.super-admin-dashboard .col-md-6 .bg-white{
    border-radius: 16px !important;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    border: none !important;
    overflow: hidden;
}

.super-admin-dashboard .d-block:has(>svg){
    width: 40px !important;
    height: 40px;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.super-admin-dashboard svg.fa-building{
    color: #fff !important;
}
.super-admin-dashboard .d-block:has(>svg.fa-building){
    background: #FFEB3B;
}

.super-admin-dashboard svg.fa-store{
    color: #fff !important;
}
.super-admin-dashboard .d-block:has(>svg.fa-store){
    background: #64DD17;
}

.super-admin-dashboard svg.fa-ban{
    color: #fff !important;
}
.super-admin-dashboard .d-block:has(>svg.fa-ban){
    background: #E91E63;
}

.super-admin-dashboard svg.fa-store-slash{
    color: #fff !important;
}
.super-admin-dashboard .d-block:has(>svg.fa-store-slash){
    background: #64DD17;
}

.super-admin-dashboard svg.fa-boxes{
    color: #fff !important;
}
.super-admin-dashboard .d-block:has(>svg.fa-boxes){
    background: #3D5AFE;
}
body.dark-theme .table tr:last-child td{
    border-bottom: none !important;
}

/* ==== Super Admin Dark Css  ==== */

body.dark-theme .super-admin-dashboard .col-md-6 .bg-white{
    background-color: #212529 !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(24, 28, 31, 0.54);
}

body.dark-theme .stats-card{
    background-color: #212529 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .stats-header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .ql-toolbar.ql-snow, body.dark-theme .ql-container.ql-snow, body.dark-theme .daterangepicker .calendar-table .next span, body.dark-theme .daterangepicker .calendar-table .prev span{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .border{
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .border-left-grey, body.dark-theme .more-filters, body.dark-theme .daterangepicker.show-ranges.ltr .drp-calendar.left, body.dark-theme .border-left, body.dark-theme .c-inv-btns .dropdown-toggle span{
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

body.dark-theme .input-group-text{
    border: none !important;
}